@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Lobster&display=swap');
body{
    margin: 0%;
    padding: 0%;
    background-image: url(background.png);
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
    
}
ul{
    position: fixed;
    width: 100%;
   text-align: center;
}
li{
    height: 60px;
    width: 60px;
    padding: 10px;
    color: white;
    text-decoration: none;
    display: inline;
    text-transform: capitalize;
    
}
li:hover{
    color:rgb(255, 0, 0);
    cursor: pointer;
    
}
header{
    display: inline;

}  
img{
    height: 50px;
    width: 50px;
    position: fixed;
    left: 120px;
    padding: 10px;
}
.search{
    display:inline-block;
    height: 40px;
    width: 40px;
   
}

.search3{
    position: fixed;
    left: 75%;
    top: 0px;
    height: 30px;
    width: 30px;
 

}
.search2{
    position: fixed;
    left: 75%;
    top: 0px;
    height: 30px;
    width: 30px;
 
}
.search2:hover{
    opacity: 0%;
}
.contact2{
    border: 0px;
    color: black;
    border-radius: 5px;
    font-size: medium;
    font-weight: 600;

}
.contact{
    position: fixed;
    top: 16px;
    left: 80%;
    

}
.contact2:hover{
    background-color: red;
    color: white;
    cursor: pointer;
}
.heading{
    display: inline-block;
    color: white;
    position: relative;
    left: 160px;
    top: 90px;
    text-transform: capitalize;
    font-size: 25px;
    
    
}
.heading1{
    letter-spacing: 5px;
    font-family: "Lobster", sans-serif;
}
.para{
    color: white;
    position: relative;
    left: -380px;
    top: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    text-align: center;
    
    
}
.pizza2{
    display: inline-block;
   position: relative;
   top: -300px;
   left: 120px;
    
}
.pizza{
    transform: rotateY(3.142rad);
    
}
.button{
    height: 40px;
    width: 100px;
  border: none;
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  position:absolute;
  top: 460px;
  left: 180px;
  border-radius: 20px;
  font-weight: bold;
  text-transform: capitalize;
}
.button:hover{
    color: white;
    background-color: red;
}
.tomato{
    display: inline-block;
    height: 100px;
    width: 90px;
    position: absolute;
    top: 500px;
    left: 700px;
}
.straberry{
    display: inline-block;
    height: 121.8px;
    width: 107.4px;
    position: absolute;
    top: 250px;
    left: 750px;

}

footer{
        position: fixed;
        color: white;
        text-align: center;
        padding: 6px;
        position: fixed;
        bottom: -1px;
        width: 100%;
        font-size: 16px;
    }
.grad{
        display: inline;
        background: linear-gradient(to right, #f32170, #ff6b08,#cf23cf, #eedd44);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
}
p{
    font-family: "Lexend", sans-serif;
}